n8n-workflow/SOAR_LAB(Discord)
{
  "name": "SOAR_LAB(Discord)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suricata-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "84eae986-de2b-4071-b923-cf1b012aaba8",
      "name": "Webhook",
      "webhookId": "fb173f06-e871-44b3-a537-1abb983f9094"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <HIDDEN_API>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a SOC analyst. Be concise. Max 5 lines.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this Suricata alert:\\n\\nSignature: {{ $('Webhook').first().json.body.alert.signature }}\\nSource IP: {{ $('Webhook').first().json.body.src_ip }}\\nDestination IP: {{ $('Webhook').first().json.body.dest_ip }}\\nProtocol: {{ $('Webhook').first().json.body.proto }}\\nDest Port: {{ $('Webhook').first().json.body.dest_port }}\\n\\nProvide:\\n1) Attack type\\n2) Severity\\n3) MITRE ATT&CK\\n4) Recommended action\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        0
      ],
      "id": "4ee6fb0e-a03b-42bc-8e3b-9b1a814c98e7",
      "name": "Groq",
      "retryOnFail": false,
      "maxTries": 2,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/[WEBHOOK_ID]/[WEBHOOK_TOKEN]",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚨 **ALERT DETECTED**\n\n**Signature:** {{ $('Webhook').item.json.body.alert.signature }}\n**Source:** {{ $('Webhook').item.json.body.src_ip }}\n**Dest:** {{ $('Webhook').item.json.body.dest_ip }}:{{ $('Webhook').item.json.body.dest_port }}\n\n🤖 **AI Analysis:**\n{{ $('Groq').item.json.choices[0].message.content }}\n\n🛡️ **SOC Actions:**\n🔴 [BLOCK IP](http://<YOUR_IP>/webhook/9909a183-1af1-4dbd-8ecb-2415f3231a3f?ip={{ $('Webhook').item.json.body.src_ip }})\n✅ [IGNORE](http://<YOUR_N8N_IP>:5678/webhook/ignore-alert?ip={{ $('Webhook').item.json.body.src_ip }})"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        200,
        0
      ],
      "id": "c9c61468-fc52-425e-a8b6-1e1b137f126b",
      "name": "Discord"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b6324444-3a6d-43e1-b701-1e612a17f684",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a10dedbe775e2c885127db0a692d4ce0be4e3e58985eb63efdad1d2b1bcf4214"
  },
  "nodeGroups": [],
  "id": "UxFFtOWQmbF6XXKa",
  "tags": []
}
